server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.H2Dialect
      hibernate.hbm2ddl.auto: create-drop
      hibernate.ejb.naming_strategy: org.hibernate.cfg.ImprovedNamingStrategy
  data:
    jpa:
      repositories:
        enabled: true
